{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table {border-collapse:collapse; }
        .table th, td {
            border-bottom: 1px solid #ddd; 
            width: 250px; 
            text-align: left; 
            align: left;
        }
    </style>
{% endblock %}  
{% block body %} 
   <h2>App armazém de livros!</h2>  
   <div> 
      <a href = "{{ path('app_book_new') }}">Adicionar</a> 
   </div> 
   <table class = "table">  
      <tr>  
         <th>Nome</th>  
         <th>Autor</th>  
         <th>Preço</th>  
      </tr>  
      {% for x in data %} 
      <tr>  
         <td>{{ x.Nome }}</td>   
         <td>{{ x.Autor }}</td>
         <td>{{ x.Preco }}</td>  
         <td><a href = "{{ path('app_book_update', { 'id' : x.Id }) }}">Editar</a></td>
         <td><a href = "{{ path('app_book_delete', { 'id' : x.Id }) }}">Deletar</a></td>
      </tr>  
      {% endfor %} 
   </table> 
{% endblock %}        